{
  "presets": [
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "@babel/preset-stage-2",
      {
        "loose": true,
        "decoratorsLegacy": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "add-module-exports"
  ]
}
